@charset "utf-8";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: lightgray;
    font-family: monospace;
}

header {
    text-align: right;
    padding: 1% 5% 1% 65%;
    font-family: Geneva, Tahoma, sans-serif
}
header div {
    border-left: red 20px solid;
}
h1 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 0.09em;
}
h2 {
    font-size: 35px;
    letter-spacing: 0.03em;
}
h1, h2 em{
    font-style: normal;
    color: darkblue;
    filter: drop-shadow(0px 2px 10px yellow);
}

main {
    display: flex;
    flex-direction: column;
    background: lightgray url("../images/recreation\ of\ the\ live\ and\ learn\ background.png") no-repeat top left;
    background-size: cover;
    border-bottom: black 5px solid;
    border-top: black 5px solid;
    text-align: center;
}
main > p {
    background-color: hsl(0 0% 62% / 0.410);
}

section {
    /* border: 1px black solid; */
    width: 50%;
    margin: 3% auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: hsl(0 0% 62% / 0.410); */
}
section h3 {
    text-decoration: underline;
}
section p {
    font-size: 1.5rem;
}
h4 {
    text-transform: uppercase;
    font-size: 3rem;
}

footer p {
    text-align: center;
}